# Ignore Docker secrets
secrets/
# ==================================
# ===== Node / React (Frontend) ====
# ==================================
node_modules/
build/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==================================
# ===== Python / FastAPI (Backend) =====
# ==================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.venv/
.env
.env.*
venv/
env/
ENV/
env.bak/
venv.bak/

# Build / Packaging / Cache
.mypy_cache/
.pytest_cache/
htmlcov/
.tox/
.cache/
.coverage*
develop-eggs/
dist/
*.egg-info/
*.egg
MANIFEST

# ===================================
# ===== VSCode / IDE settings =====
# ===================================
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln

# ==================================
# ===== Logs, Data & Docker Artifacts =====
# ==================================
*.log
logs/
mongo_data/
*.pid
*.seed
*.bak
*.pid.lock
*.tar
